# Laboratorio N3: Movimiento Parabólico

**Lanzamiento Horizontal**

Ecuación de Alcance máxima cuando y0 difiere de 0

Variables directas: Altura inicial, Velocidad.

Variables indirectas: Ángulo, alcance máximo

**Lanzamiento parabólico con blanco**

Medidas directas: Altura inicial del blanco, altura inicial lanzador, ángulo de lanzamiento

Medidas indirectas: Posición de impacto (x,y)

In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

# Parte 1
Alcance máximo y ángulo empleado

## Declaraciones e importe de datos

In [2]:
y_01 = 0.36 #metros
theta = 39.56 #grados
g = 9.7803#m/s^2

df=pd.read_csv('../data/data_proyectil.csv', delimiter=";", nrows=10, decimal=",")

In [3]:
df=df.rename(columns={'v':'Velocidad', 'r': 'Distancia horizontal'})
df

   Velocidad  Distancia horizontal
0     3.9123                1.9107
1     3.8651                1.9300
2     3.8746                1.9040
3     3.9142                1.9020
4     3.8632                1.8930
5     3.8699                1.9020
6     3.8746                1.9000
7     3.8919                1.9160
8     3.9018                1.9100
9     3.8919                1.8900

## Calculo de promedios y desviaciones

In [4]:
vel_prom = round(df.Velocidad.mean(), 4)
vel_std = round(df.Velocidad.std(ddof=1), 4)
dist_std = round(df["Distancia horizontal"].std(ddof=1), 4)
dist_prom = round(df["Distancia horizontal"].mean(), 4)
dist_teo = round((vel_prom/g)*np.sqrt(vel_prom**2+(2*g*y_01)), 4)
theta_teo = round(np.degrees(np.arctan(vel_prom/np.sqrt(vel_prom**2+(2*g*y_01)))),4)
print("Velocidad exp;", vel_prom, ", Desviacion vel:", vel_std,", Distancia exp:", dist_prom,
      ", Desviacion dist:", dist_std, "\nDistancia teorica:",
      dist_teo, ", Angulo teorico:", theta_teo, ", Angulo usado:", theta)

Velocidad exp; 3.886 , Desviacion vel: 0.0191 , Distancia exp: 1.9058 , Desviacion dist: 0.0116
Distancia teorica: 1.8697 , Angulo teorico: 39.5506 , Angulo usado: 39.56

In [5]:
error_dist = round((1-(dist_prom/dist_teo))*100, 4)
error_theta = round((1-(theta/theta_teo))*100, 4)
print(error_dist, error_theta)

-1.9308 -0.0238

# Parte 2
Colisión

## Declaraciones e importe de datos

In [21]:
y_02 = 1.03 #m
y_2 = 0.811 #m
y_1 = 0.865

dp = pd.read_csv("../data/altura_impacto.csv", delimiter=";", decimal=",")
dp = dp/100
dp

     y_1    y_2
0 -0.007  0.048
1 -0.006  0.057
2  0.010  0.032
3  0.008  0.062
4  0.015  0.058
5  0.016  0.064
6  0.005  0.063
7  0.005  0.062
8  0.012  0.066
9  0.023  0.058

In [10]:
x_f = round((y_02-y_01)/np.tan(np.radians(theta)), 3)
x_f

0.811

## Calculo de promedios y desviaciones

In [22]:
y_1_prom = round(dp.y_1.mean(),3)
y_1_std = round(dp.y_1.std(ddof=1),3)
y_2_prom = round(dp.y_2.mean(),3)
y_2_std = round(dp.y_2.std(ddof=1),3)
print(y_1_prom, y_1_std, y_2_prom, y_2_std)

0.008 0.009 0.057 0.01

In [23]:
y_1_std/y_1_prom

1.125